<!DOCTYPE html>
  <head>
    <title>Standings</title>
  </head>

  <body>

    <h1> NFL Leaderboard </h1>
    <% @leaderboard.each do |k, v| %>
      <%= "#{k} #{v[:wins]} #{v[:losses]}" %>
    <% end %>

  </body>
</html>
