<!DOCTYPE html>
  <head>
    <title>Standings</title>
  </head>

  <body>

    <h1> NFL Leaderboard </h1>
    <% @leaderboard.each do |team_name, win_loss_map| %>
      <%= "#{team_name} #{win_loss_map[:wins]} #{win_loss_map[:losses]}" %>
    <% end %>

  </body>
</html>
