<!DOCTYPE html>
  <head>
    <title>Standings</title>
  </head>

  <body>

    <h1> NFL Leaderboard </h1>

<ul>
  <% @leaderboard.each do |k,v| %>
  <li><%= "#{k}:  Wins: #{v[:wins]} - Losses: #{v[:losses]}" %>
 <% end %>
</ul>

  </body>
</html>
