<!DOCTYPE html>
  <head>
    <title>Standings</title>
  </head>

  <body>

    <h1> NFL Leaderboard </h1>

<ul>
  <% @leaderboard.each do |team_name,win_loss_map| %>
    <li>
      <%= team_name %>:  Wins: <%= win_loss_map[:wins] %> - Losses: <%= win_loss_map[:losses] %>
    </li>
 <% end %>
</ul>

  </body>
</html>
